button {
   
    margin: 30px;
    padding: 10px 20px;
    border: rgb(10, 6, 69) 1px solid;
    border-radius: 5px;
    box-shadow: 0px 5px 10px grey;
}
button:hover {
    cursor: pointer;
    color: white;
}button.szurke-gomb:hover {
    background-color: rgb(16, 125, 133);
    }
button.piros-gomb:hover {
    background-color: rgb(133, 16, 16);
    }
button:active{
    box-shadow: 0px 2px 10px grey;
}
.szurke-gomb {
    background-color: rgb(105, 142, 145);
}
.piros-gomb {
    background-color: rgb(150, 105, 105);
}
.kis-gomb {
    font-size: 12px;
    padding: 8px 15px;
}
.nagy-gomb {
    font-size: 24px;
    padding: 10px 20px;
}